<!DOCTYPE html>
<html>
  <head>
    <meta charaset="UTF-8">
    <link rel="stylesheet" href="show.css">
  </head>
  <body>
    <div class="post-detail-container">
      <div class="main-container">
        <div class="post-title-box">
          <h1 class="post-title">
            <%= @content.title %>
          </h1>
        </div>
        <div class="post-text-box">
          <h2 class="post-text">
            <%= @content.text %>
          </h2>
        </div>
        <div class="delete-contents">
          <% if user_signed_in? && current_user.id == @content.user_id %>
          <p><%= link_to '投稿を削除', content_path(@content.id), method: :delete, class:"delete-btn" %></p>
          <% end %>
        </div>
      </div>
      <div class="sub-container">
        <div class="comment-post-title-box">
          <h3 class="comment-post-title">コメントを投稿する</h3>
        </div>
        <div class="comment-form-box">
          <% if user_signed_in? %>
          <%= form_with model: [@content, @comment], local: true do |f| %>
            <%= f.text_area :text, rows: "6", class:"comment-box" %>
            <div class="comment-btn-box">
              <%= f.submit "投稿する", class:"comment-post-btn" %>
            </div>
          <% end %>
          <% else %>
          <div class="comment-guide-box">
            <h4 class="comment-guide">※※※ コメントの投稿にはアカウント登録/ログインが必要です ※※※</h4>
          </div>
          <% end %>
        </div>
      </div>
      <div class="third-container">
        <% if @comments %>
          <div class="comment-lists-title-box">
            <h5 class="comment-lists-title">コメント一覧</h5>
          </div>
          <% @comments.each do |comment| %>
          <div class="comment-lists">
            <h6 class="comment-detail">
              <%= comment.user.username %>: <%= comment.text %>
            </h6>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
