<div class="contents">
  <div class="contents-title">
    <%= @content.title %>
  </div>
  <div class="contents-text">
    <%= @content.text %>
  </div>
  <div class="delete-contents">
    <% if user_signed_in? && current_user.id == @content.user_id %>
    <%= link_to '投稿を削除', content_path(@content.id), method: :delete %>
    <% end %>
  </div>
</div>
<div class="comment-form">
  <p>コメントを投稿する</p>
  <% if user_signed_in? %>
    <%= form_with model: [@content, @comment], local: true do |f| %>
      <%= f.text_area :text, rows: "6" %>
      <%= f.submit "SEND" %>
    <% end %>
  <% else %>
    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
</div>
<div class="comments">
  <h1>＜コメント一覧＞</h1>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <p><%= comment.user.nickname %>: <%= comment.text %></p>
    <% end %>
  <% end %>
</div>
