<!DOCTYPE html>
<html>
  <head>
    <meta charaset="UTF-8">
    <link rel="stylesheet" href="registrations.new.css">
  </head>
  <body>
    <div class="registration-form-box">
      <div class="registration-form">
        <div class="registration-title-box">
          <h1 class="registration-page-title">アカウントを作成</h1>
        </div>
          <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <div class="name-box">
          <%= f.text_area :username, class:"username", placeholder:"ユーザー名", rows:"1" %>
        </div>
        <div class="email-box">
          <%= f.email_field :email, class:"email", placeholder:"Email" %>
        </div>
        <div class="password-box">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上で登録してください)</em>
          <% end %><br />
          <%= f.password_field :password, class:"password", placeholder:"パスワード" %>
        </div>
        <div class="pass-confirmation-box">
          <%= f.password_field :password_confirmation, class:"password-confirmation", placeholder:"パスワード(確認)" %>
        </div>
        <div class="registrations-btn-box">
          <%= f.submit "登録する", class:"registrations-btn" %>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>

