<!DOCTYPE html>
<html>
  <head>
    <meta charaset="UTF-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="sessions.new.css">
  </head>
  <body>
    <div class="sessions-form-box">
      <div class="sessions-form">
        <div class="sessions-title-box">
          <h1 class="sessions-page-title">ログインする</h1>
        </div>
          <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="name-box">
          <%= f.text_area :username, class:"username", placeholder:"ユーザー名", row:"1" %>
        </div>
        <div class="email-box">
          <%= f.email_field :email, class:"email", placeholder:"Email" %>
        </div>
        <div class="password-box">
          <%= f.password_field :password, class:"password", placeholder:"パスワード" %>
        </div>
        <% if devise_mapping.rememberable? %>
        <div class="record-box">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>
        <div class="sessions-btn-box">
          <%= f.submit "ログイン", class:"sessions-btn" %>
        </div>
        <% end %>
      </div>
    </div>
    <footer>
      <div class="footer-box">
        <h2 class="footer-exp">AthleteHub <span>2020.</span></h2>
      </div>
    </footer>
  </body>
</html>