<!DOCTYPE html>
<html>
  <head>
    <title>AthleteHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="heading">
        <ul class="head-lists">
          <p><a href="/">AthleteHub</a></p>
          <li>アスリートのための情報共有サイト</li>
        </ul>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
        <% if user_signed_in? %>
          <li><%= link_to current_user.username, "/users/#{current_user.id}", class: "username" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to 'アカウントを作成する', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
          <li><a class="new-post" href="/contents/new">投稿する</a></li>
        </ul>

      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-container">
        <p class="footer-exp">AthleteHub <span>2020.</span></p>
      </div>
    </footer>
  </body>
</html>
